@import url("/shadows/common.css");
.root {
    background-color: lightgray;
    display: inline-block;
    padding: 10px;
}
.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    font-size: 1.25em;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
}
.errorPwd {
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#cochesTable {
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Bordes de las celdas colapsados */
    margin: 20px 0; /* Margen superior e inferior para separar la tabla de otros elementos */
  }
  
  #cochesTable th {
    background-color: #b0a100; /* Color de fondo para las celdas del encabezado */
    color: white; /* Color del texto en las celdas del encabezado */
  }
  
  #cochesTable th, #cochesTable td {
    border: 1px solid rgb(0, 0, 0); /* Borde de las celdas */
    padding: 8px; /* Espaciado interno en las celdas */
    text-align: center; /* Alineación del texto en el centro de las celdas */
  }
  
  #cochesTable tbody tr {
    background-color: #f2f2f2; /* Fondo alternado para filas impares */
  }
  
  /* ********* */



#createCarForm2 label {
    display: block;
    margin-bottom: 8px;
}

#createCarForm2 input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* ********* */

#modifyCarForm #createCarForm2{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#infoBtnLogOut {
  background-color: #af4ca8;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#createCarButton, #modifyCarButton, #deleteCarButton, 
#createTableButton, #modifyTableButton, #deleteTableButton {
  background-color: #af814c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}